/*--------------pagina--------------*/
body{
    background-color: rgb(37, 36, 36);
}
.boton{
   margin: 50px;
   min-width: 150px;
   height: 50px;
   border: 0;
}

.boton:hover{
    background-color:rgb(102, 240, 233);
    box-shadow: 0 0 10px rgb(102, 240, 233), 0 0 20px rgb(102, 240, 233), 0 0 20px rgb(102, 240, 233); 
    transition: all 350ms;
}

h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

h2{
    font-family: 'Abel', sans-serif;
}
.textPagos{
    font-size: 25px;
    padding: 15px;
    margin-left: 750px;
}
.textProductos{
    font-size: 25px;
    padding: 15px;
}

.container-container{
    display: flex;
    flex-direction: row;
}
.contenedorIndex{
    margin: auto;
    width: 80%;
    min-height: 150px;
    text-align: center;
    background: linear-gradient(to top,rgb(255, 207, 162), rgb(255, 158, 47));
}

.mostrar{
    background-color: rgb(158, 88, 88);
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}

.botonCarrito{
    margin: 10px;
    width: 150px;
    height: 50px; 
    color: black;
    font-size: 15px;
}

.botonCarrito:hover{
    background-color: rgb(80, 255, 173);;
    box-shadow: 0 0 10px rgb(101, 255, 191), 0 0 20px rgb(101, 255, 191), 0 0 20px rgb(101, 255, 191); 
    transition: all 350ms;
}
.img{
    width: 400px;
    position: relative;
    left: 900px;
}
p{
    color: black;
    font-size: 20px;
    text-align: start;
    margin: 10px;
    font-family: 'Abel', sans-serif;
   
}

.pagos{
    display: none;
    flex-direction: row;
    margin: auto;
    margin-top: 30px ;
    width: 80%;
    min-height: 150px;
    background-color: rgb(206, 141, 79);
}

.botonPago{
    margin: 50px;
    margin-left: 800px;
    min-width: 150px;
    height: 50px;
    border: 0;
}

.botonPago:hover{
    background-color:rgb(102, 240, 233);
    box-shadow: 0 0 10px rgb(102, 240, 233), 0 0 20px rgb(102, 240, 233), 0 0 20px rgb(102, 240, 233); 
    transition: all 350ms;
}

.drop{
    margin: 20px;
    width: 200px;
    height: 30px;
    margin-right: 300px;
    

}

.mastercard{
    display: none;
    flex-direction: column;
}

.visa{
    display: none;
    flex-direction: column;
}

.botonV{
    padding: 15px;
    margin: 5px;
    border: 0;
}

.botonV:hover{
    background-color: rgb(255, 223, 175);
    box-shadow: 0 0 10px rgb(255, 146, 5), 0 0 20px rgb(255, 146, 5), 0 0 20px rgb(255, 146, 5); 
    transition: all 350ms;
    border: solid 2px;
}

.efectivo{
    display: none;
    flex-direction: column;
}

.botonE{
    padding: 15px;
    margin: 5px;
}

.botonE:hover{
    background-color: rgb(255, 223, 175);
    box-shadow: 0 0 10px rgb(255, 146, 5), 0 0 20px rgb(255, 146, 5), 0 0 20px rgb(255, 146, 5); 
    transition: all 350ms;
    border: solid 2px;
}

.listado{
    margin: auto;
    margin-top: 30px ;
    width: 80%;
    min-height: 150px;
    background-color:rgb(219, 100, 15); 
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
  
.MostrarCarritoContenedor{
    display: none;
    background-color: rgb(240, 192, 130);
    min-height: 200px;
    width: 80%;
    margin: auto;
    text-align: center;
}
.botoncerrar{
    width: 100px;
    background-color: rgb(255, 119, 119);
    border: 0;
}

.botoncerrar:hover{
    box-shadow: 0 0 10px rgb(255, 119, 119), 0 0 20px rgb(255, 119, 119), 0 0 20px rgb(255, 119, 119); 
    border: solid 2px;
    width: 200px;
    transition: all 500ms;
}

.botonComprar{
    width: 150px;
    background-color: rgb(255, 167, 52);
    border: 0;
}

.botonComprar:hover{
    box-shadow: 0 0 10px rgb(255, 167, 52), 0 0 20px rgb(255, 167, 52), 0 0 20px rgb(255, 167, 52); 
    border: solid 2px;
    width: 200px;
    transition: all 500ms;
}

.Pagar{
    width: 100px;
    background-color: rgb(70, 156, 78);
    border: 0;
}

.Pagar:hover{
    box-shadow: 0 0 10px rgb(70, 156, 78), 0 0 20px rgb(70, 156, 78), 0 0 20px rgb(70, 156, 78); 
    border: solid 2px;
    width: 200px;
    transition: all 500ms;
}

.MostrarCarritoInfo{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

.precioProducto{
    padding: 10px;
}

.botonEliminar{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    text-align: center;
    margin-top: 10px;
    margin-right: 300px;
    background-color: rgb(255, 96, 96);
}

.botonEliminar:hover{
    box-shadow: 0 0 10px rgb(255, 96, 96), 0 0 20px rgb(255, 96, 96), 0 0 20px rgb(255, 96, 96); 
    transition: all 500ms;
}

.compra{
    display: block;
    background-color: rgb(240, 192, 130);
    min-height: 200px;
    width: 80%;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

.contenedorCompra{
    display: block;
    background-color: rgb(240, 192, 130);
    min-height: 200px;
    min-width: 80%;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

.filtro{
    display: none;
}

.titulo{
    position: relative;
    top: 20px;
    left: 30px;
}

.Buscador{
    position: relative;
    bottom: 80px;
    left: 1150px;
    width: 300px;
    height: 25px;
}

